.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    gap: 1em;
}


.infoContainer {
  width: auto;
}
  
.infoContainer h1{
  line-height: 1em;
}
    
.imageContainer {
  right: 3em;
  position: relative;
}
  
.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
    .pageContainer{
        gap: 0;
    }
    .imageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        right: 1em;
      }
  
      .image{
        width: 260px;
        height: 100px;
      }
  }