.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    gap: 1em;
}

  
@media only screen and (max-width: 768px) {

    .pageContainer{
        gap: 0;
    }
  }